<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legia Warszawa - Dane osobowe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Dane osobowe</h1>
    </header>

    <main>
        <section>
            <h2>Wprowadź swoje dane osobowe</h2>
            <form action="/submit-personal-info" method="post">
                <label for="first_name">Imię:</label>
                <input type="text" id="first_name" name="first_name" required><br>
                <label for="last_name">Nazwisko:</label>
                <input type="text" id="last_name" name="last_name" required><br>
                <label for="age">Wiek:</label>
                <input type="number" id="age" name="age" required><br>
                <input type="submit" value="Prześlij informacje" class="ticket-submit">
                
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Legia Warszawa</p>
    </footer>
</body>
</html>
