<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Nas - Legia Warszawa</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <header>
        <h1>O Nas<img src="/static/img/arkaaaplan.jpg" alt="log" id="log"></h1>
        <nav>
            <ul>
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/products">Produkty</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/o-nas">O Nas</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <img src="/static/img/old.jpeg" alt="Stadion CWKS">
        <div class="overlay">
            <h2>Wspomnienie Wielkiego Meczu</h2>
        </div>
    </section>
    <section class="content" id="historia">
        <h2>Historia Sukcesu</h2>
        <p>
            20 listopada 1955 roku, po remisie w ostatniej kolejce ligowej ze Stalą Sosnowiec 1:1, legioniści po raz pierwszy w historii zdobyli tytuł mistrza Polski. 
            Gospodarze, którym do tytułu potrzebne było zwycięstwo, otworzyli wynik spotkania już w pierwszej akcji meczu. Decydującego o podziale punktów i mistrzostwie 
            dla CWKS gola strzelił w 14. minucie Lucjan Brychczy. Dziś mija 69 lat od tego wydarzenia.
        </p>
        <img src="/static/img/old4.jpeg" alt="Zespół CWKS">
        <p>
            „CWKS piłkarskim mistrzem Polski za rok 1955! Minęło 40 sekund meczu, a Stal prowadziła 1:0! Przez 14 minut sosnowiczanie byli mistrzami Polski. 
            Jednak chwila nieuwagi, rzut rożny, opóźniona reakcja bramkarza Dziurowicza i Brychczy dzięki swoim wielkim walorom technicznym i wrodzonemu 
            sprytowi zdobył wyrównanie” – pisał na pierwszej stronie poniedziałkowy „Przegląd Sportowy”.
        </p>
    </section>
    <section class="content" id="bohaterowie">
        <h2>Bohaterowie Drużyny</h2>
        <p>
            Trenerem Wojskowych był Janos Steiner. W składzie grali m.in.: Edward Szymkowiak, Horst Mahseli, Jerzy Orłowski, Jerzy Woźniak, Marceli Strzykalski, 
            Zygmunt Pieda, Longin Janeczek, Lucjan Brychczy, Edmund Kowal, Henryk Kempny, Andrzej Cehelik, Ernest Pol, Henryk Grzybowski, Edmund Zientara, 
            Jerzy Słaboszowski i Jan Bem.
        </p>
        <img src="/static/img/old1.jpeg" alt="Lucjan Brychczy">
    </section>
    <p>Copyright &copy; 2024 CWKS Historia</p>

    <footer>
        <p>&copy; 2024 Legia Warszawa</p>
    </footer>
</body>
</html>
